---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>Selected Recent Talks</h2>

{% assign recent_talks = site.talks | sort: "date" | reverse %}
{% for post in recent_talks %}
  {% assign talk_year = post.date | date: "%Y" %}
  {% if talk_year >= "2024" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Group Seminars</h2>

{% for post in recent_talks %}
  {% assign talk_year = post.date | date: "%Y" %}
  {% if talk_year < "2024" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
